.overflow-auto {
  overflow: auto;
  .btn-group {
    position: relative;
  }
}

body {
  padding: 0px !important;
}

.navbar {

  .navbar-inner {
    background: #075FA1;
    height: 60px !important;
  }

  .search-header-container {
    padding: 0px 0px 0px 5px!important;

    a {
      margin: 0px 5px;
    }
  }
  .search-content-header {
    border: none !important;
    float: none !important;
    padding-left: 3px !important;
    background-color: #fff !important;
    box-shadow: none !important;
    &::placeholder {
      color: #4D4F5C;
    }
    &:focus {
      padding: 4px 9px 4px 3px !important;
    }
  }
  .list-item-search-header {
    height: 40px;
  }
  .header-icons-container {
    margin: 0px 20px 0px 30px;
    a {
      margin: 0px 6px;
    }
  }
  li.dropdown {
    list-style-type: none;
  }
  .form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  }

  &.navbar-fixed-top {
    position: sticky !important;
    top: 0;
  }

  .logo {
    height: 20px;
    width: 120px !important;
  }
  
  .brand {
    padding: 8px 15px 20px !important;
  }

  .container-fluid {
    height: 100%;
    display: flex;
    align-items: center;
  }

  a.dropdown-toggle {
    color: #F5F6FA;
  }

  .profile-dropdown-arrow {
    filter: brightness(1.5);
  }

  .profile-image {
    width: 40px;
    height: 40px;
    margin-left: 10px;

    img {
      width: 40px;
      height: 40px;
    }
  }
}

.submenu-header{
  .submenu-list {
    display: flex;
    align-items: center;
    padding-top: 10px;
    border-bottom: 1px solid #E8ECEE;
    margin: 0px 17px 9px 17px;
    padding-bottom: 4px;
    list-style-type: none;
    li {
      margin-right: 15px;
      padding-bottom: 6px;
      font-size: 14px;
      margin-bottom: -5px;
      border-bottom: 2px solid transparent;
      span {
        font-size: 14px;
        // font-weight: 500;
      }
      &:hover{
        border-bottom: 2px solid black;
        img{
          filter: brightness(0.4);
        }
        span {
          color: #333A41;
        }
      }
      .icon-dashboard {
        width: 17px;
        height: 18px;
      }
      &.active {
        border-bottom: 2px solid purple;

        img{
          filter: brightness(0.4);
        }
        span {
          color: #333A41;
        }
      }
      &:last-child {
        margin-left: auto;
        margin-right: 0px;
      }
      a {
        display: flex;
        color: #808495;
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
  img{
    margin-right: 5px;
  }
}

.sidebar {
  width: 0px;
  position: sticky;
  top: 60px;
  transition: width 80ms;
  box-shadow: 5px 1px 5px #0000007B;
  background-color: #666B6F;
  > div {
    display: none;
    background-color: #333A41;
    color: #F5F6FA;
    border-bottom: 1px solid #50555B;
    border-bottom-width: 2px;
    font-family: Helvetica Neue, Regular;
    font-size: 14px;

    a {
      cursor: default;
    }

    .sidebar-icon {
      margin-right: 10px;
    }

    .down-arrow {
      transition: transform 200ms;
      &.transform-rotate {
        transform: rotate(180deg);
        transition: transform 200ms;
      }
      margin-left: auto;
    }

    ul {
      margin: 0px;
      display: none;
      li {
        border-left: 3px solid transparent;
        &:hover {
          background-color: #2B2727;
        }
        &.active-item {
          background-color: #2C3237;
          border-left: 3px solid #A41AEF;
        }
        a {
          display: block;
          padding: 12px 12px 12px 38px;
          color: #F5F6FA;
          cursor: pointer;
        }
      }
    }
  }
  > div.active {
    display: block;
    a {
      color: #F5F6FA;
      &:hover {
        text-decoration: none;
      }
    }
    > div {
      &.nav-item {
        padding: 12px;
        &:hover {
          background-color: #2B2727;
        }
      }
    }
  }
  &.expand {
    width: 400px;
    transition: width 80ms;
    min-height: 100vh;
    height: 100%;
    margin-bottom: -15px;
  }
  .nav-item {
    padding: 12px;
    &:hover {
      background-color: #2B2727;
    }
  }
  ul {
    list-style-type: none;

    a {
      text-decoration: none;
    }
  }
}

.hamburger-toggle {
	cursor: pointer;
  margin-right: 20px;
  float: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  .line-1, .line-2, .line-3 {

    cursor: pointer;
    border-radius: 4px;
    height: 2px;
    width: 22px;
    background: #fefefe;
    position: relative;
    display: block;
    content: '';
    transition: all 300ms ease-in;
  }

  .line-1, .line-2 {
    margin-bottom: 6px;
  }

  &.active {
    .line-1 {
      background: #fefefe;
      top: 28px;
      position: absolute;
      transform: rotate(45deg);
      width: 24px;    
    }

    .line-3 {

      background: #fefefe;
      top: 28px;
      position: absolute;
      transform: rotate(-45deg);
      width: 24px;	
    }
  }
}

.hamburger-toggle span {
  background: #e7e7e7;
}
.hamburger-toggle:hover span {
  cursor: pointer;
  background-color: #CECFD0;
}
.hamburger-toggle.active .line-2  {
  background-color: transparent !important;
}

.flex-column {
  flex-direction: column;
}

.mg-lft-auto {
  margin-left: auto;
}

.mg-lft-5 {
  margin-left: 5px;
}