.overflow-auto {
  overflow: auto;
}
.overflow-auto .btn-group {
  position: relative;
}

body {
  padding: 0px !important;
}

.navbar .navbar-inner {
  background: #075FA1;
  height: 60px !important;
}
.navbar .search-header-container {
  padding: 0px 0px 0px 5px !important;
}
.navbar .search-header-container a {
  margin: 0px 5px;
}
.navbar .search-content-header {
  border: none !important;
  float: none !important;
  padding-left: 3px !important;
  background-color: #fff !important;
  box-shadow: none !important;
}
.navbar .search-content-header::placeholder {
  color: #4D4F5C;
}
.navbar .search-content-header:focus {
  padding: 4px 9px 4px 3px !important;
}
.navbar .list-item-search-header {
  height: 40px;
}
.navbar .header-icons-container {
  margin: 0px 20px 0px 30px;
}
.navbar .header-icons-container a {
  margin: 0px 6px;
}
.navbar li.dropdown {
  list-style-type: none;
}
.navbar .form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.navbar.navbar-fixed-top {
  position: sticky !important;
  top: 0;
}
.navbar .logo {
  height: 20px;
  width: 120px !important;
}
.navbar .brand {
  padding: 8px 15px 20px !important;
}
.navbar .container-fluid {
  height: 100%;
  display: flex;
  align-items: center;
}
.navbar a.dropdown-toggle {
  color: #F5F6FA;
}
.navbar .profile-dropdown-arrow {
  filter: brightness(1.5);
}
.navbar .profile-image {
  width: 40px;
  height: 40px;
  margin-left: 10px;
}
.navbar .profile-image img {
  width: 40px;
  height: 40px;
}

.submenu-header .submenu-list {
  display: flex;
  align-items: center;
  padding-top: 10px;
  border-bottom: 1px solid #E8ECEE;
  margin: 0px 17px 9px 17px;
  padding-bottom: 4px;
  list-style-type: none;
}
.submenu-header .submenu-list li {
  margin-right: 15px;
  padding-bottom: 6px;
  font-size: 14px;
  margin-bottom: -5px;
  border-bottom: 2px solid transparent;
}
.submenu-header .submenu-list li span {
  font-size: 15px;
}
.submenu-header .submenu-list li:hover {
  border-bottom: 2px solid black;
}
.submenu-header .submenu-list li:hover img {
  filter: brightness(0.4);
}
.submenu-header .submenu-list li:hover span {
  color: #333A41;
}
.submenu-header .submenu-list li .icon-dashboard {
  margin-right: 4px;
  width: 17px;
  height: 18px;
}
.submenu-header .submenu-list li.active {
  border-bottom: 2px solid purple;
}
.submenu-header .submenu-list li.active img {
  filter: brightness(0.4);
}
.submenu-header .submenu-list li.active span {
  color: #333A41;
}
.submenu-header .submenu-list li:last-child {
  margin-left: auto;
  margin-right: 0px;
}
.submenu-header .submenu-list li a {
  display: flex;
  color: #808495;
}
.submenu-header .submenu-list li a:hover {
  text-decoration: none;
}
.submenu-header img {
  margin-right: 5px;
}

.sidebar {
  width: 0px;
  position: sticky;
  top: 60px;
  transition: width 80ms;
  box-shadow: 5px 1px 5px #0000007B;
  background-color: #666B6F;
}
.sidebar > div {
  display: none;
  background-color: #333A41;
  color: #F5F6FA;
  border-bottom: 1px solid #50555B;
  border-bottom-width: 2px;
  font-family: Helvetica Neue, Regular;
  font-size: 14px;
}
.sidebar > div a {
  cursor: default;
}
.sidebar > div .sidebar-icon {
  margin-right: 10px;
}
.sidebar > div .down-arrow {
  transition: transform 200ms;
  margin-left: auto;
}
.sidebar > div .down-arrow.transform-rotate {
  transform: rotate(180deg);
  transition: transform 200ms;
}
.sidebar > div ul {
  margin: 0px;
  display: none;
}
.sidebar > div ul li {
  border-left: 3px solid transparent;
}
.sidebar > div ul li:hover {
  background-color: #2B2727;
}
.sidebar > div ul li.active-item {
  background-color: #2C3237;
  border-left: 3px solid #A41AEF;
}
.sidebar > div ul li a {
  display: block;
  padding: 12px 12px 12px 38px;
  color: #F5F6FA;
  cursor: pointer;
}
.sidebar > div.active {
  display: block;
}
.sidebar > div.active a {
  color: #F5F6FA;
}
.sidebar > div.active a:hover {
  text-decoration: none;
}
.sidebar > div.active > div.nav-item {
  padding: 12px;
}
.sidebar > div.active > div.nav-item:hover {
  background-color: #2B2727;
}
.sidebar.expand {
  width: 400px;
  transition: width 80ms;
  min-height: 100vh;
  height: 100%;
  margin-bottom: -15px;
}
.sidebar .nav-item {
  padding: 12px;
}
.sidebar .nav-item:hover {
  background-color: #2B2727;
}
.sidebar ul {
  list-style-type: none;
}
.sidebar ul a {
  text-decoration: none;
}

.hamburger-toggle {
  cursor: pointer;
  margin-right: 20px;
  float: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hamburger-toggle .line-1, .hamburger-toggle .line-2, .hamburger-toggle .line-3 {
  cursor: pointer;
  border-radius: 4px;
  height: 2px;
  width: 22px;
  background: #fefefe;
  position: relative;
  display: block;
  content: "";
  transition: all 300ms ease-in;
}
.hamburger-toggle .line-1, .hamburger-toggle .line-2 {
  margin-bottom: 6px;
}
.hamburger-toggle.active .line-1 {
  background: #fefefe;
  top: 28px;
  position: absolute;
  transform: rotate(45deg);
  width: 24px;
}
.hamburger-toggle.active .line-3 {
  background: #fefefe;
  top: 28px;
  position: absolute;
  transform: rotate(-45deg);
  width: 24px;
}

.hamburger-toggle span {
  background: #e7e7e7;
}

.hamburger-toggle:hover span {
  cursor: pointer;
  background-color: #CECFD0;
}

.hamburger-toggle.active .line-2 {
  background-color: transparent !important;
}

.flex-column {
  flex-direction: column;
}

.mg-lft-auto {
  margin-left: auto;
}

.mg-lft-5 {
  margin-left: 5px;
}

/*# sourceMappingURL=new.css.map */
